{% import "../../_tools/_macro.html" as macro %}

<!DOCTYPE html>
<html lang="ru">
		<head>
				<title>{{ title }}</title>
				
				<meta charset="UTF-8">
				
				<meta http-equiv="x-ua-compatible" content="ie=edge">
				<meta name="description" content="">
				<meta name="viewport" content="width=device-width, initial-scale=1">

				<link rel="shortcut icon" href="assets/images/favicon/favicon.ico" type="image/x-icon">
    		<link rel="apple-touch-icon" href="assets/images/favicon/apple-touch-icon.png">
    		<link rel="stylesheet" type="text/css" href="assets/css/app.min.css">

		</head>

		<body {% if bodyClass %}class="{{ bodyClass }}"{% endif %}>
			
			<nav id="mobileMenu" class="mobile-menu">				
				<ul>
					<li>
						<a href="">Главная</a>
					</li>
					<li>
						<a href="">Статьи</a>
					</li>
					<li>
						<a href="">Шаблы</a>
					</li>
					<li>
						<a href="">Новости</a>					
					</li>
					<li>
						<a href="">Контакты</a>						
					</li>
				</ul>
			</nav>
			
			<div class="page-wrapper" id="pageWrapper">
				{% include "../_includes/_header.html" %}

				{% block content %}{% endblock %}				

				{% include "../_includes/_footer.html" %}
			</div>

			<script src="assets/js/app.min.js"></script>
		</body>				
</html>